*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
dist
debug.tsx
debug.md
assets/**/*.css
build
lib
coverage
.vscode
yarn.lock
es/
package-lock.json
src/*.js
src/*.map
tslint.json
tsconfig.test.json
.prettierignore
.storybook
storybook/index.js
.doc
.umi