@select-prefix: ~'rc-select';

* {
  box-sizing: border-box;
}

.search-input-without-border() {
  .@{select-prefix}-selection-search-input {
    border: none;
    outline: none;
    background: rgba(255, 0, 0, 0.2);
    width: 100%;
  }
}

.@{select-prefix} {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  position: relative;

  &-disabled {
    &,
    & input {
      cursor: not-allowed;
    }

    .@{select-prefix}-selector {
      opacity: 0.3;
    }
  }

  // ============== Selector ===============
  .@{select-prefix}-selection-placeholder {
    opacity: 0.4;
  }

  // --------------- Single ----------------
  &-single {
    .@{select-prefix}-selector {
      display: flex;
      position: relative;

      .@{select-prefix}-selection-search {
        width: 100%;

        &-input {
          width: 100%;
        }
      }

      .@{select-prefix}-selection-item,
      .@{select-prefix}-selection-placeholder {
        position: absolute;
        top: 1px;
        left: 3px;
        pointer-events: none;
      }
    }

    // Not customize
    &:not(.@{select-prefix}-customize-input) {
      .@{select-prefix}-selector {
        padding: 1px;
        border: 1px solid #000;

        .search-input-without-border();
      }
    }
  }

  // -------------- Multiple ---------------
  &-multiple .@{select-prefix}-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border: 1px solid #000;

    .@{select-prefix}-selection-item {
      flex: none;
      background: #bbb;
      border-radius: 4px;
      margin-right: 2px;
      padding: 0 8px;
    }

    .@{select-prefix}-selection-search {
      position: relative;

      &-input,
      &-mirror {
        padding: 1px;
        font-family: system-ui;
      }

      &-mirror {
        position: absolute;
        z-index: 999;
        white-space: nowrap;
        position: none;
        left: 0;
        top: 0;
        visibility: hidden;
      }
    }

    .search-input-without-border();
  }

  // ================ Icons ================
  &-allow-clear {
    &.@{select-prefix}-multiple .@{select-prefix}-selector {
      padding-right: 20px;
    }

    .@{select-prefix}-selection-clear {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }

  &-show-arrow {
    &.@{select-prefix}-multiple .@{select-prefix}-selector {
      padding-right: 20px;
    }

    .@{select-prefix}-selection-arrow {
      pointer-events: none;
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  // =============== Focused ===============
  &-focused {
    .@{select-prefix}-selector {
      border-color: blue !important;
    }
  }

  // ============== Dropdown ===============
  &-dropdown {
    border: 1px solid green;
    min-height: 100px;
    position: absolute;
    background: #fff;

    &-hidden {
      display: none;
    }
  }

  // =============== Option ================
  &-item {
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 16px;

    // >>> Group
    &-group {
      color: #999;
      font-weight: bold;
      font-size: 80%;
    }

    // >>> Option
    &-option {
      position: relative;

      &-grouped {
        padding-left: 24px;
      }

      // ------- Active -------
      &-active {
        background: green;
      }

      // ------ Disabled ------
      &-disabled {
        color: #999;
      }

      // ------ Selected ------
      &-selected {
        .@{select-prefix}-item-option-selected-icon {
          position: absolute;
          right: 0;
          top: 4px;
          pointer-events: none;
        }
      }
    }

    // >>> Empty
    &-empty {
      text-align: center;
      color: #999;
    }
  }
}
